.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  max-width: 300px;
  height: 350px;
}

.fighter-preview___right {
  align-items: center;
}

.fighter-preview___left {
  align-items: center;
}

.fighter-preview___img {
  max-width: 100%;
  height: 300px;
}

.fighter-preview___right .fighter-preview___img {
  transform: scaleX(-1);
}

.fighter-preview___info {
  text-align: center;
  font-size: 20px;
  background: #ffdfa7;
  box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
}

.fighter-preview___info-details {
  margin: 0 45px;
  padding: 10px;
  justify-content: space-between;
}


.fighter-preview___load-error {
  text-align: center;
}